body {
  max-width: 1000px;
  margin: 25px auto;
}
.nav-link {
  background-color: #000000;
  color: #ffffff;
  display:block;
  float:left;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}
.body-image {
  margin-left: auto;
  margin-right: auto;
}
.body-words {
  padding: 25px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: orange;
}
.body-words p {
  text-align: justify;
}
.body-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 25px 0px;
  background: red;
}
